.app-container{
  width:100%;
}

.header{
  background-color:#222;
  color:white;
  padding:15px;
}

.navbar ul{
  display:flex;
  gap:20px;
 margin-top:10px;
}

.navbar li{
  list-style-type: none;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.main-content{
  padding:20px;
}





