.forgot-password-container{
    width:350px;
    margin:80px auto;
    padding:25px;
    background-color: white;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.forgot-password-container h2{
    margin-bottom:20px;
}

.forgot-password-container form
{
display:flex;
flex-direction:column;
gap:15px;
}

.inputdiv{
    display:flex;
    flex-direction:column;
    text-align:left;

}

label{
   margin-bottom:5px;
   font-weight:500;

}

input{
    padding:8px;
    border:1px solid #ccc;
    border-radius:4px;
}

input:focus{
    outline:none;
    border-color:#646cff;
    
}

.forgot-password-container button{
    margin-top:10px;
    padding:10px;
    border:none;
    background-color:#646cff;
    color:white;
    border-radius:5px;
    cursor:pointer;

}

.forgot-password-container button:hover{
    background-color:#535bf2;
}




