.forgot-password-container{
height: 100%;
width: 100%;
}

.forgot-password-container form .inputdiv label{
    margin-left: 11%;
}

.forgot-password-container form .inputdiv input{
    margin: 10%;
}

