.reset-password-container{
width: 120%;
margin-right: 10%;
}

.reset-password-container form{
    
}

.reset-password-container form div{
 display: block;
 height: 10%;
 margin-top: 5%;
}

.reset-password-container form .first{

}


.reset-password-container form .first label{
    width: 5%;
}

.reset-password-container form .first input{
 
    }


.reset-password-container form .second{
  margin-right: 7%;
}
 
.reset-password-container form .second label{
    margin-right: 15%;
}


.reset-password-container form button{
 margin: 5%;
 height: 50%;
}
