.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
   
  }
  
  table th {
    background-color: #f2f2f2;
  }
  

  .table tbody tr .action-buttons{
    width: 150px;
  }


  td .action-buttons {
    display: flex;
    justify-content: space-between; /* Align buttons left and right */
  }
  
  button {
    padding: 6px 12px;
    font-size: 14px;
    height: 30px;
    cursor: pointer;
    flex: 1; /* Allow buttons to take up equal space */
    max-width: 100px; /* Limit button size */
  }
  
  button.btn-warning {
    background-color: #ffcc00;
    border: none;
    color: white;
  }
  
  button.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .table thead th{
    color: black;
  }